.homepage{
    overflow: hidden;
}


.logo-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    
}
.slider .svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
}
.mirrored {
    transform: scaleX(-1);
}
@media screen and (max-width: 480px) {
    .slider{
        width: 75px;
    }    
}


